---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<h1> Holi!!</h1>
	<p>Esta web esta en progreso continuo!</p>
	<p>Para acceder a mi antiguo Linktree, haz click en el siguiente enlace:
	<a href="https://linktr.ee/sifi_">https://linktr.ee/sifi_</a></p>
	
</BaseLayout>
