---
import {awesomeLists} from "../../data/exportContent";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <awesome-list data-awesomeList={JSON.stringify(awesomeLists)}>
        <aside>
            {
                awesomeLists.map((e) => (
                    <>
                        <a class="SuperCat">{e.name}</a>
                    </>
                ))
            }
        </aside>
        <aside>
            <div id="root"></div>
        </aside>
    </awesome-list>
</BaseLayout>

<style>
    .SuperCat {
        padding: 5px;
    }

    :hover .SuperCat {
        cursor: pointer;
    }
</style>

<script>
    interface StringDictionary {
        [index: string]: number;
    }

    import {RegularCat, SuperCat, CatType, type Base} from "../../data/typeDatas";
    const contentFieldTable = ["name", "description"];

    const headerTable = ["Name", "Category", "Description", "url"];
    const mapping = (e: Base)=>[
            e.name, 
            e.category.reduce((e,x)=>e+", "+x), 
            e.description, 
            e.url, 
            ]

    function setCat(cat: RegularCat, body: Element) {
        let subBody: Element = document.createElement("div");
        let tableRoot = document.createElement("table");
        let sample: Element;

        sample = document.createElement("div");
        sample.textContent = cat.name + ":";
        body.append(sample);

        let trBody: Element;

        trBody = document.createElement("tr");
        headerTable.forEach((e) => {
            sample = document.createElement("th");
            sample.innerHTML = e;
            trBody.append(sample);
        });

        tableRoot.append(trBody);

        cat.lists.map(mapping).forEach((item) => {
            trBody = document.createElement("tr");

            item.forEach((e) => {
                sample = document.createElement("td");
                sample.innerHTML = e ? e : '';
                trBody.appendChild(sample);
            });
            
            /*contentFieldTable.forEach((field) => {
                sample = document.createElement("td");
                const text = item[field as keyof typeof item];
                if (!text || typeof text !== "string") {
                    return;
                }
                sample.textContent = text;
            });*/

            tableRoot.append(trBody);
        });

        subBody.append(tableRoot);
        body.append(subBody);
    }

    function setSuperCat(cat: SuperCat, body: Element) {
        let subBody: Element = document.createElement("div");
        let catText: Element;
        let subCatBody: Element;
        catText = document.createElement("div");
        catText.textContent = cat.name;
        subBody.appendChild(catText);
        cat.lists.forEach((e) => {
            subCatBody = document.createElement("div");
            setCat(e, subCatBody);
            subBody.appendChild(subCatBody);
        });

        body.appendChild(subBody);
    }


    class awesomeList extends HTMLElement {
        superLayoutId = -1;
        awesomeList: Array<SuperCat | RegularCat> = [];
        body: Element = Element.prototype;

        setClickSelection(index: number) {
            this.body.innerHTML = "";
            this.superLayoutId = index;

            switch (this.awesomeList[index].type) {
                case CatType.Cat:
                    setCat(this.awesomeList[index], this.body);
                    break;
                case CatType.SuperCat:
                    setSuperCat(this.awesomeList[index], this.body);
                    break;
                default:
                    break;
            }
        }

        connectedCallback() {
            console.log("It's loading");
            const body = document.getElementById("root");

            if (!body) {
                console.log("No Body");
                return;
            }
            this.body = body;

            const buttons = document.querySelectorAll("a.SuperCat");
            const awesomeListString = this.dataset.awesomelist;
            if (!awesomeListString) {
                console.log("No Awesomelist");
                return;
            }

            this.awesomeList = JSON.parse(awesomeListString) as Array<
                SuperCat | RegularCat
            >;
            // Handle clicks on each button.
            buttons.forEach((button, index) => {
                button.addEventListener("click", () =>
                    this.setClickSelection(index),
                );
            });
        }
    }

    customElements.define("awesome-list", awesomeList);
</script>
