---
import BaseHead from "../components/BaseHead.astro";
import ContentBar from "../components/ContentBar.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import NavBar from "../components/NavBar.astro";
import {SITE_DESCRIPTION, SITE_TITLE} from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<div>
			<NavBar />
			<main>
				<slot />
			</main>
			<ContentBar />
		</div>
		<Footer />
	</body>
</html>
